{% extends 'src/base.html' %}
{% block title %}
About - Jakob Waibel
{% endblock %}
{% block content %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Sodales ut eu sem integer vitae. Nisi vitae suscipit tellus mauris a diam. 
Venenatis a condimentum vitae sapien. Proin fermentum leo vel orci. 
Ac feugiat sed lectus vestibulum. 
Viverra aliquet eget sit amet tellus. 
At tellus at urna condimentum mattis pellentesque.
{% endblock%}