{% extends 'src/base.html' %}
{% load static %} {% block title %} Jakob Waibel {% endblock %} 
{% block content %}
<ul style="list-style-type: none; list-style:none; padding-left:12px;">
  {% for item in content%}
  <li  class="mb-3">
    <div class="card" style="width: 100%;">
    {% if item.is_blog == True %}
      <a href="{% url 'blogpost' item.id %}" style="text-decoration: none; color: black;">
    {% else %}
      <a href="{{ item.content_url }}" style="text-decoration: none; color: black;" target="_blank">
    {% endif %}
    <img class="card-img-top" style="height: 90px;object-fit: cover;" src="{{ item.image_url }}" alt="Card image cap" />
      <div class="card-body">
        <h1 class="card-title" style="font-weight: bold; font-size: 24px;">{{ item.title }}</h5>
        <p class="card-text" style="font-family: 'Brush Script MT; ', 'Brush Script Std', cursive;">
          {{ item.abstract }}
        </p>
    </div> 
    </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
