Babel==2.9.0
Django==3.1.7
djangorestframework==3.12.2
json5==0.9.5
jsonschema==3.2.0
Markdown==3.3.4
MarkupSafe==1.1.1
pytest==6.2.2
pytest-cov==2.11.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-utils==2.4.0
